.about_skill{
  background: #639b57;
}.section_title {
  font-size: 20px;
  font-weight: 789;
  color: #3609bc;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.section_subtitle{
  font-size: medium;
}
.about_description {
  color: rgb(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 40px;
}
.about_skill_box {
  margin-bottom: 50px;
  background: #94bcad;
  padding: 24px;
  border-bottom: 2px solid #2c98f0;
}
.about_skill_box:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
}
.about_skill_box > i {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 32px;
  padding-bottom: 12px;
  border-bottom: 2px solid currentColor;
}


.about_skill_box > h3 {
  font-weight: 500;
  margin-bottom: 0;
  text-transform: capitalize;
}

.about_skill_box:nth-child(1) > i {
  color: blue;
}
.about_skill_box:nth-child(1) {
  border: 4px solid blue;
}
.about_skill_box:nth-child(2) > i {
  color: red;
}
.about_skill_box:nth-child(2) {
  border: 4px solid rgb(189, 15, 102);
}
.about_skill_box:nth-child(3) > i {
  color: green;
}
.about_skill_box:nth-child(3) {
  border: 4px solid rgb(5, 199, 216);
}
.about_skill_box:nth-child(4) > i {
  color: purple;
}
.about_skill_box:nth-child(4) {
  border: 4px solid rgb(62, 180, 16);
}


@media screen and (max-width: 768px) {
  .about_skill_box {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

  }
  .about_skill_box{
    flex-grow: 1;
    margin-bottom:0;
  }

  
} 