#hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  background-color: #62A1D9;
  background-image: url("../images/image9.jpg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}
#hero > h1 {
  font-size: 28px;
  line-height: 1.3; 
  letter-spacing: 2px; 
  font-family: "Playfair Display", sans-serif ;
}
#hero > p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}

#hero > button {
  width: 190px;
  height: 35px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px 15px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color:purple;
  opacity: 0.8;
}

#hero > button > span {
  font-weight: normal;
  border-radius: 2px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#hero > button > i {
  font-size: 20px;
}

@media screen and (max-width: 768px){
  #hero {
    color: orange;
  }
}