.skill {
  margin-bottom: 20px;
}
.skill > p {
  margin-bottom: 10px;
}
.skill_bg_box {
  background-color: #f2f3ff;
  border-radius: 8px;
}
.skill_percentage_box {
  height: 6px;
  background: #2c98f0;
  width: 80%;
  border-radius: 6px;
  color: #2c98f0;
  position: relative;
}
.skill_percentage_box > span {
  position: absolute;
  top: -22px;
  right: 0;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
 .all-skills {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}
